In [45]:
import pandas as pd
import numpy as np

In [46]:
dataset = pd.read_csv('/Users/sadie/Desktop/stats/CountryData (1).csv')
dataset

,Country,Region,Population,Area,Pop. Density,Coastline,Net migration,Infant mortality,GDP,Literacy,Phones,Arable,Crops,Other,Climate,Birthrate,Deathrate,Agriculture,Industry,Service
0,Afghanistan,ASIA (EX. NEAR EAST),31056997,647500,48.0,0.00,23.06,163.07,700.0,36.0,3.2,12.13,0.22,87.65,1.0,46.60,20.34,0.380,0.240,0.380
1,Albania,EASTERN EUROPE,3581655,28748,124.6,1.26,-4.93,21.52,4500.0,86.5,71.2,21.09,4.42,74.49,3.0,15.11,5.22,0.232,0.188,0.579
2,Algeria,NORTHERN AFRICA,32930091,2381740,13.8,0.04,-0.39,31.00,6000.0,70.0,78.1,3.22,0.25,96.53,1.0,17.14,4.61,0.101,0.600,0.298
3,American Samoa,OCEANIA,57794,199,290.4,58.29,-20.71,9.27,8000.0,97.0,259.5,10.00,15.00,75.00,2.0,22.46,3.27,NaN,NaN,NaN
4,Andorra,WESTERN EUROPE,71201,468,152.1,0.00,6.60,4.05,19000.0,100.0,497.2,2.22,0.00,97.78,3.0,8.71,6.25,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222,West Bank,NEAR EAST,2460492,5860,419.9,0.00,2.98,19.62,800.0,NaN,145.2,16.90,18.97,64.13,3.0,31.67,3.92,0.090,0.280,0.630
223,Western Sahara,NORTHERN AFRICA,273008,266000,1.0,0.42,NaN,NaN,NaN,NaN,NaN,0.02,0.00,99.98,1.0,NaN,NaN,NaN,NaN,0.400
224,Yemen,NEAR EAST,21456188,527970,40.6,0.36,0.00,61.50,800.0,50.2,37.2,2.78,0.24,96.98,1.0,42.89,8.30,0.135,0.472,0.393
225,Zambia,SUB-SAHARAN AFRICA,11502010,752614,15.3,0.00,0.00,88.29,800.0,80.6,8.2,7.08,0.03,92.90,2.0,41.00,19.93,0.220,0.290,0.489
226,Zimbabwe,SUB-SAHARAN AFRICA,12236805,390580,31.3,0.00,0.00,67.69,1900.0,90.7,26.8,8.32,0.34,91.34,2.0,28.01,21.84,0.179,0.243,0.579

In [47]:
dataset.dropna(inplace=True)

In [48]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [49]:
from sklearn.preprocessing import OneHotEncoder
enc = OneHotEncoder()
region = dataset["Region"].values.reshape(-1, 1)
enc.fit(region)
region_OneHot = enc.transform(region)
region_one_hot = region_OneHot.toarray()
region_labels = enc.get_feature_names_out()
dataset[region_labels] = region_one_hot
dataset = dataset.drop(columns=["Region","Country"])

In [50]:
X = dataset.loc[:, dataset.columns != "GDP"]
y = dataset["GDP"]

In [51]:
X

,Population,Area,Pop. Density,Coastline,Net migration,Infant mortality,Literacy,Phones,Arable,Crops,...,x0_BALTICS,x0_C.W. OF IND. STATES,x0_EASTERN EUROPE,x0_LATIN AMER. & CARIB,x0_NEAR EAST,x0_NORTHERN AFRICA,x0_NORTHERN AMERICA,x0_OCEANIA,x0_SUB-SAHARAN AFRICA,x0_WESTERN EUROPE
0,31056997,647500,48.0,0.00,23.06,163.07,36.0,3.2,12.13,0.22,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3581655,28748,124.6,1.26,-4.93,21.52,86.5,71.2,21.09,4.42,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,32930091,2381740,13.8,0.04,-0.39,31.00,70.0,78.1,3.22,0.25,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,13477,102,132.1,59.80,10.76,21.03,95.0,460.0,0.00,0.00,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,69108,443,156.0,34.54,-6.15,19.46,89.0,549.9,18.18,4.55,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,25730435,912050,28.2,0.31,-0.04,22.20,93.4,140.1,2.95,0.92,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
219,84402966,329560,256.1,1.05,-0.45,25.95,90.3,187.7,19.97,5.95,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
224,21456188,527970,40.6,0.36,0.00,61.50,50.2,37.2,2.78,0.24,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
225,11502010,752614,15.3,0.00,0.00,88.29,80.6,8.2,7.08,0.03,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
226,12236805,390580,31.3,0.00,0.00,67.69,90.7,26.8,8.32,0.34,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [52]:
y

0        700.0
1       4500.0
2       6000.0
6       8600.0
7      11000.0
        ...
218     4800.0
219     2500.0
224      800.0
225      800.0
226     1900.0
Name: GDP, Length: 179, dtype: float64

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [54]:
reg = LinearRegression().fit(X_train, y_train)

In [55]:
guess = reg.predict(X_test)

In [56]:
mean_squared_error(y_test,guess)

19250041.221896973

In [57]:
reg.score(X_test, y_test)

0.8385779883300541